html {
  font-size: 62.5%;
  font-family: Helvetica;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition: transform 1s; */
}

h1 {
  /* align-items: center;
  justify-content: center;
  font-size: 10rem; */
  position: absolute;
  z-index: -1;
  /* top: 50%;
  left: 35%; */
}
section {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 200px 200px;
}
section div {
  /* width: 300px;
  height: 300px; */
  transition: transform 1s;
}

.steelblue {
  background-color: steelblue;
  /* transform: rotate(180deg); */
}

.dimgrey {
  background-color: dimgrey;
  /* transform: rotate(180deg); */
}

.yellow {
  background-color: yellow;
  /* transform: rotate(180deg); */
}

.rosybrown {
  background-color: rosybrown;
  /* transition: transform 1s; */
  /* transform: rotate(180deg); */
}

body:hover .steelblue {
  transform: translateX(-200px) rotateZ(90deg);
}

body:hover .dimgrey {
  transform: translateX(200px) rotateZ(-90deg);
}

main:hover .yellow {
  transform: translateX(-100%) rotateZ(90deg);
}

main:hover .rosybrown {
  transform: translateX(100%) rotateZ(-90deg);
}
